<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/login">Log in</a></li>

</ul>

</body>
</html>
