<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Log in</title>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Users</a></li>
        <li><a href="">Teams</a></li>

    </ul>
    <div class="container">
        <form class="form" id="login" method="POST" action="/login">
            <h1 class="form__title">Login</h1>
            <div class="form__input-group">
                <input name="Username" type="text" class="form__input" autofocus placeholder="Username or email">
            </div>

            <div class="form__input-group">
                <input name="Password" type="password" class="form__input" autofocus placeholder="Password">
            </div>
            
            <button class="form__button" type="submit">Continue</button>

            <p class="form__text">
                <a class="form__link" href="/register" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>
        </form>
    </div>
    <script src="./js/logIn.js"></script>
</body>

</html>